<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>

<title >home page</title>
</head>
<body>
	
	<section>

		<div class="card">
			<div class="card-body">
				<h1 class="text-center">Add Contact</h1>
			
				<div class="container-fluid mt-1">
					<div class="row">
						<div class="col-md-10 offset-md-1">
						
							<form action="#" 
									th:object="${contact}" 
									
									enctype="multipart/form-data" 
									method="post"
									th:action="@{/user/process-contact}"
									class="mt-2">
							<!--First name  -->
							
								<div class="input-group">
								
									<div class="input-group-prepend">
									
									<div class="input-group-text ">
									
											<i class="fas fa-plus"></i>
									
										</div>
									
									</div>
									
										<input type="text" id="firstName" name="name" placeholder="Enter Name Here" class="form-control"/>
								
								</div>
							
							<!--Second Name  -->
							
								<div class="input-group mt-3">
								
									<div class="input-group-prepend">
									
									<div class="input-group-text ">
									
											<i class="fas fa-user-alt"></i>
									
										</div>
									
									</div>
									
										<input type="text" id="nickName" name="nickName" placeholder="Enter Nick Name Here" class="form-control"/>
								
								</div>
								
								<!-- Phone field -->
							
									<div class="input-group mt-3">
								
									<div class="input-group-prepend">
									
									<div class="input-group-text ">
									
											<i class="fas fa-phone"></i>
									
										</div>
									
									</div>
									
										<input type="text" id="phno" name="phNo" placeholder="Enter Phone Number Here" class="form-control"/>
								
								</div>
								
								<!-- Email Field -->	
									<div class="input-group mt-3">
								
									<div class="input-group-prepend">
									
									<div class="input-group-text ">@</div>
									
									</div>
									
										<input type="email" id="email" name="email" placeholder="Enter Email Here" class="form-control"/>
								
								</div>	
								
								<!-- Work Field here -->	
								
									<div class="input-group mt-3">
								
									<div class="input-group-prepend">
									
									<div class="input-group-text ">
									
											<i class="fas fa-briefcase"></i>
									
										</div>
									
									</div>
									
										<input type="text" id="work" name="work" placeholder="Enter Work Here" class="form-control"/>
								
								</div>	
								
								<!-- Conatac Discriptions  -->				
										<div class="form-group mt-3">
										
										<textarea placeholder="Enter Contact Discription" name="description" id="description" class="form-control" rows="20"></textarea>
										
										</div>
							</form>
						
						</div>
					
					
					</div>
				
				</div>
			</div>
		
		</div>
	
	</section>
	
</body>
</html>